.products {
    box-shadow: 0 2px 1.9px rgba(0, 0, 0, 0.07), 0 4.7px 4.5px rgba(0, 0, 0, 0.05), 0 8.9px 8.4px rgba(0, 0, 0, 0.042), 0 15.9px 15px rgba(0, 0, 0, 0.035), 0 29.7px 28px rgba(0, 0, 0, 0.028), 0 71px 67px rgba(0, 0, 0, 0.02);
}

.subscription {
    height: 300px;
    background: rgba(128, 0, 128, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscription>div>input {
    padding: 7px;
    border-radius: 3px;
}

.btn-1 {
    padding: 7px 20px;
    background: blue;
    color: white;
    border-color: blue;
}

.bg-custom {
    background: #fceae8;
}

.border-radious {
    border-radius: 1em;
}

.category-img {
    width: 100px;
}

.card-footer.panda-card-footer {
    background: #fff;
    border: 0;
}

.subscription {
    border-radius: 1em;
}